/* Import Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=League+Spartan:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #24283B;
    background-image: url(/src/media/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);

}

.container {
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.avatar img {
    height: 350px;
}

.info {
    justify-content: center;
}

.info h1 {
    margin-top: 10px;
    color: black;
    font-family: 'League Spartan', sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-shadow:
        1px 1px #FF66C4,
        -1px 0px #54bbf0;
}

.info h2 {
    font-size: 25px;
    margin-top: 10px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}

.info span {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    text-shadow:
        .5px .5px #FF66C4,
        -.5px .5px #54bbf0;
    letter-spacing: 1.5px;
}

.info ul {
    text-align: center;
    margin-top: 10px;
    list-style: none;
    display: flex;
    font-size: 33px;
}

.info li {
    /* margin: 10px; */
    position: relative;
    display: block;
    margin-right: 15px;
    transition: all 500ms ease-in-out;
}

.info a {
    color: white;
    transition: all 500ms ease-in-out;

}


.info a:hover {
    color: black;
    text-shadow:
        1px 1px #FF66C4,
        -1px 0px #54bbf0;
    transition: all 500ms ease-in-out;
}

.info li:hover {
    transition: all 500ms ease-in-out;
}

/* responsive style */

@media only screen and (max-width: 600px){

    .avatar img {
        display: none;
        height: 350px;
    }
    
    .container {
        align-content: center;
        flex-wrap: wrap;
    }
    
    .info {
        text-align: center;
    }

    .info ul{
        justify-content: center;
        font-size: 35px;
    }

}